*.v.d
*.cache
*.crash*
*.vo*
*.glob
.*.aux
**/Extraction/*.ml*
**/Extraction/*/*.ml*
*.cm*
*.o
*.log
*.status
._d
._ncdi
._bcdi
*.so
*.a
*.byte
*.native
*.bak
*~
config/
**/Build
*.conf
*.DS_Store
*.d
.vscode
\#*
.\#*